.container{
    background-color: white;
    max-width: 1200px;
    min-height: 800px;
    margin: auto;
    padding : 16px;
}
.container .inputs{
    display: flex;
    justify-content: center;
    align-items : center;
}
.container > h1{
    color: slateblue;
    text-align: center;
}
.line{
    margin: 16px 0px;
}
.container input{
    width: 200px;
    height: 30px;
}
.container button{
    width: 70px;
    height: 35px;
}
.todo-none{
    display: none;
}
.todo-get{
    width: 100px;
    height: 30px;
    margin-left: 5px;
}
.todo-items{
    border-radius: 5px;
    border: solid black;
    width: 200px;
    height: 150px;
    padding: 4px;
    margin: 5px;
}
.detail{
    text-decoration: none;
    color: blueviolet;
}
.todo-item{
    font-size: 18px;
    margin: 5px;
}
.items{
    font-size: 14px;
    margin-top: 5px;
}
.working,.done{
    display: flex;
}
.todo-item button{
    margin-top: 40px;
}
.completed{
    
}
.uncompleted{
    display: none;
}